.App {
  text-align: center;
}

.display{
  margin: 2rem;
}

.current_rover{
  padding-top: 100px;
  padding-right: 12px;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 2px black;
  background-image: url('../images/nasa_logo.png');
  color: white;
  text-transform: uppercase;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 20%;
}

.cam_sol {
  font-size: 1.5rem;
  font-weight: lighter;
}
